<fieldset class="fieldset bg-base-200 border-base-300 text-3xl rounded-box w-full border p-4 gap-4">
    <legend class="fieldset-legend">{{ t('manual_update_legend') }}</legend>
    <label class="label text-wrap">
        {{ t('manual_update_desc') }}
    </label>
    <button class="btn btn-primary btn-lg max-w-96" hx-get="new_release_available/"
        hx-target="#update_modal_content" hx-trigger="click" hx-swap="innerHTML"
        hx-indicator="#update_modal_spinner"
        hx-headers='{"Cache-Control": "no-cache"}'
        onclick="update_modal.showModal()">
        {{ t('check_for_updates') }}
    </button>
    <!-- Modal -->
    <dialog id="update_modal" class="modal">
        <form method="dialog" class="modal-backdrop">
            <button>{{ t('close') }}</button>
        </form>
        <div class="modal-box" id="update_modal_content">
            <div id="update_modal_spinner" class="flex justify-center items-center py-8">
                <span class="loading loading-spinner loading-lg"></span>
            </div>
            <!-- Modal content will be loaded here via htmx -->
        </div>
    </dialog>

    {% with title=t('auto_updates'), description=t('auto_updates_desc'),
    icon="auto_update",
    name="auto_updater_enabled", value=auto_updater_enabled %}
    {% include "components/snippets/bool_setting.html" %}
    {% endwith %}

    {% with title=t('beta_channel'), description=t('beta_channel_desc'),
    icon="refresh",
    name="updater_use_beta_channel", value=updater_use_beta_channel %}
    {% include "components/snippets/bool_setting.html" %}
    {% endwith %}

</fieldset>
<fieldset class="fieldset bg-base-200 border-base-300 text-3xl rounded-box w-full border p-4 gap-4">
        <legend class="fieldset-legend">{{ t('system_update') }}</legend>
        <button class="btn btn-secondary btn-lg max-w-96" hx-post="system_update/" hx-swap="none">{{ t('system_update_start') }}</button>
</fieldset>