<!-- name of each tab group should be unique -->

<div class="tabs tabs-lift">
  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" checked="checked" />
    {{ t('settings_tab_general') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1">
    {% include "components/general.html" %}
  </div>

  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" />
    {{ t('settings_tab_display') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1">
    {% include "components/display.html" %}
  </div>

  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" />
    {{ t('settings_tab_hardware') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1">
    {% include "components/hardware.html" %}
  </div>

  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" />
    {{ t('settings_tab_theming') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1">
    {% include "components/theming.html" %}
  </div>

  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" />
    {{ t('settings_tab_updates') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1">
    {% include "components/updates.html" %}
  </div>

  <label class="tab text-3xl">
    <input type="radio" name="my_tabs" />
    {{ t('settings_tab_about') }}
  </label>
  <div class="tab-content bg-base-200 border-base-300 p-1" hx-get="/settings/about/"
  hx-trigger="load">
  </div>
</div>
