<!-- need raw for htmx json substitution to work -->
<template id="Interior-template">
    <div class="stat md:p-2">
        <div class="stat-title">{{ t('interior_temperature') }}</div>
        {% raw %} <div class="stat-value text-7xl tracking-tighter">{{temp}}</div>{% endraw %}
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-4 mt-2">
                <use href="/static/weather_icons/wi-thermometer_full.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat md:p-2">
        <div class="stat-title">{{ t('interior_humidity') }}</div>
        {% raw %}<div class="stat-value text-5xl">{{hum}}</div>{% endraw %}
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-2 mt-2">
                <use href="/static/weather_icons/wi-humidity.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat md:p-2">
        <div class="stat-title">{{ t('interior_co2') }}</div>
        {% raw %}<div id=co2_value class="stat-value text-5xl">
            <p>{{co2}}</p>{% endraw %}
        </div>
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 26 26" class="h-18 -m-2 mt-2">
                <use href="/static/general_icons/aq_indoor.svg#main" fill="white" />
            </svg>
        </div>
    </div>
    <div class="stat md:p-2">
        <div class="stat-title">{{ t('interior_pressure') }}</div>
        {% raw %}<div id=baro_value class="stat-value text-5xl">
            <p>{{baro}}</p>
        </div>{% endraw %}
        <div class="stat-desc"></div>
        <div class="stat-figure">
            <svg viewBox="0 0 24 24" class="h-18 -m-2 mt-2">
                <use href="/static/weather_icons/wi-barometer.svg#Layer_1" fill="white" />
            </svg>
        </div>
    </div>

</template>