@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: global font to mirror your WAQD setup */
@font-face {
  font-family: 'MyFranzo';
  src: url('/static/font/Franzo-E4GA.woff') format('woff');
}

body {
  font-family: 'MyFranzo', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: oklch(var(--b3));
}

.hero-bg {
  background-image: url('@static/gui_base/pascal-debrunner-UjyUlxr1Yjo-unsplash.avif');
}

@layer utilities {

  .stat {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .stat-title {
    font-size: 1.5rem;

    @supports (color: color-mix(in lab, red, red)) {
      color: color-mix(in oklab, var(--color-base-content) 90%, transparent);
    }
  }

  /* Override the default brightness filter on image-full cards */
  .card.image-full>figure img {
    filter: brightness(50%) !important;
  }
}

