<fieldset class="fieldset bg-base-200 border-base-300 text-3xl rounded-box w-full border p-4 gap-4">
    <legend class="fieldset-legend">{{ t('display') }}</legend>

    <legend class="fieldset-legend">{{ t('brightness_legend') }}</legend>
    <div class="min-w-96 md:w-3/4">
        <input type="range" min="0" max="100" value={{brightness}} class="range w-full"
            hx-trigger="change" hx-post="set" hx-swap="none"
            hx-vals="js:{'name':'brightness', 'value': event.target.value}">
        <div class="flex justify-between px-2.5 mt-2 text-xs">
            <span>0%</span>
            <span>20%</span>
            <span>40%</span>
            <span>60%</span>
            <span>80%</span>
            <span>100%</span>
        </div>
    </div>

    <legend class="fieldset-legend">{{ t('night_mode_begin_legend') }}</legend>
    <input type="time" class="input input-xl" value="{{night_mode_begin}}:00" hx-trigger="change"
        hx-post="set" hx-swap="none"
        hx-vals="js:{'name':'night_mode_begin', 'value': event.target.value}">
    <legend class="fieldset-legend">{{ t('night_mode_end_legend') }}</legend>
    <input type="time" class="input input-xl" value="{{night_mode_end}}:00" hx-trigger="change" hx-post="set"
        hx-swap="none" hx-vals="js:{'name':'night_mode_end', 'value': event.target.value}" />

    <legend class="fieldset-legend">{{ t('motion_sensing_legend') }}</legend>
    <label class="label text text-wrap">{{ t('motion_sensing_desc') }}</label>

    <legend class="fieldset-legend">{{ t('night_turnoff_timeout_legend') }}</legend>
    <select class="select select-xl" hx-trigger="change" hx-post="set" hx-swap="none"
        hx-vals="js:{'name':'night_standby_timeout', 
        'value': (function(v){if(v.endsWith('min')){return parseInt(v)*60;}else{return parseInt(v);} })(event.target.value)}">
    <option disabled selected>{{ t('night_turnoff_timeout_legend') }}</option>
    <option {% if night_standby_timeout==5 %}selected{% endif %}>{{ t('timeout_5s') }}</option>
    <option {% if night_standby_timeout==30 %}selected{% endif %}>{{ t('timeout_30s') }}</option>
    <option {% if night_standby_timeout==120 %}selected{% endif %}>{{ t('timeout_120s') }}</option>
    <option {% if night_standby_timeout==10*60 %}selected{% endif %}>{{ t('timeout_10min') }}</option>
    <option {% if night_standby_timeout==30*60 %}selected{% endif %}>{{ t('timeout_30min') }}</option>
    </select>

    <legend class="fieldset-legend">{{ t('day_standby_timeout_legend') }}</legend>
    <select class="select select-xl" hx-trigger="change" hx-post="set" hx-swap="none"
        hx-vals="js:{'name':'day_standby_timeout', 
        'value': (function(v){if(v.endsWith('min')){return parseInt(v)*60;}else{return parseInt(v);} })(event.target.value)}">
    <option disabled selected>{{ t('day_standby_timeout_legend') }}</option>
    <option {% if day_standby_timeout==5 %}selected{% endif %}>{{ t('timeout_5s') }}</option>
    <option {% if day_standby_timeout==30 %}selected{% endif %}>{{ t('timeout_30s') }}</option>
    <option {% if day_standby_timeout==120 %}selected{% endif %}>{{ t('timeout_120s') }}</option>
    <option {% if day_standby_timeout==10*60 %}selected{% endif %}>{{ t('timeout_10min') }}</option>
    <option {% if day_standby_timeout==30*60 %}selected{% endif %}>{{ t('timeout_30min') }}</option>
    </select>

</fieldset>